%table.table
  %thead
    %tr
      %th{ scope: 'col' }Date
      %th{ scope: 'col' }Description
      %th{ scope: 'col' }Money In
      %th{ scope: 'col' }Money Out
  %tbody
    -current_user.bank_items.each do |item|
      %tr
        %td=l(item.created_at, format: :short)
        %td=#item.description
        %td=item.amount > 0 ? item.amount.to_f / 100 : ''
        %td=item.amount < 0 ? item.acount.to_f / -100 : ''
    %tr.table-info
      %td{ colspan: '2'} Balance
      %td{ colspan: '2' }= current_user.balance.to_f / 100



