.list-group-item.pb-0
  - @job = Job.new
  = form_for(@job) do |f|
    .form-group
      = f.collection_select :job_type_id, JobType.all.order(:value), :id, :name_with_value, { prompt: 'Select a job...' }, { class: 'form-control' } 
      = f.hidden_field :user_id, value: child.id
      .text-right
        %button.btn.btn-primary.mt-2{ type: "submit" }Add 
