%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  %a.navbar-brand{:href => "#"} Pocket Jobs
  %button.navbar-toggler{ aria: { controls: "navbar", expanded: "false", aria: "Toggle navigation"},  data: { target: "#navbar", toggle: "collapse"} , type: "button"}
    %span.navbar-toggler-icon
  #navbar.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
