%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  %a.navbar-brand{:href => "#"} Pocket Jobs
  %button.navbar-toggler{ aria: { controls: "navbar", expanded: "false", aria: "Toggle navigation"},  data: { target: "#navbar", toggle: "collapse"} , type: "button"}
    %span.navbar-toggler-icon
  #navbar.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        %a.nav-link{ href: jobs_path }
          Dashboard
      %li.nav-item
        -if current_user.child?
          %a.nav-link{:href => profile_path } Profile
        -else
          %a.nav-link{:href => profiles_path } Profiles
    %a.btn.btn-info{ href: destroy_user_session_path } Sign out
