%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  %a.navbar-brand{:href => "#"} Pocket Jobs
  %button.navbar-toggler{ aria: { controls: "navbar", expanded: "false", aria: "Toggle navigation"},  data: { target: "#navbar", toggle: "collapse"} , type: "button"}
    %span.navbar-toggler-icon
  #navbar.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      -if current_user.child?
        %li.nav-item
          %a.nav-link{:href => profile_jobs_path } Jobs
        %li.nav-item
          %a.nav-link{:href => profile_bank_items_path } Bank
      -else
        %li.nav-item
          %a.nav-link{:href => profiles_path } Profiles
        %li.nav-item
          %a.nav-link{ href: jobs_path } Dashboard
    %a.btn.btn-info{ href: destroy_user_session_path } Sign out
