.container.mt-3
  .row
    .offset-md-3.col-md-6
      .card.shadow-sm
        .card-header.d-flex.justify-content-between
          %h4.my-0
            #{@user.name}
          %h4.my-0
            %i.fas.fa-coins
        .card-body.p-0
          %table.table.mb-0
            %thead.thead-dark
              %tr.bank-items
                %th{ scope: 'col' }Date
                %th{ scope: 'col' }Description
                %th.text-right{ scope: 'col' }Money In
                %th.text-right{ scope: 'col' }Money Out
            %tbody
              -@bank_items.each do |item|
                %tr.bank-items
                  %td=l(item.created_at, format: :short)
                  %td=item.description
                  %td.text-right=item.amount > 0 ? number_to_currency(item.amount.to_f / 100) : ''
                  %td.text-right=item.amount < 0 ? number_to_currency(item.amount.to_f / -100) : ''
              %tr
                %td{ colspan: '4' }
                  .d-flex.justify-content-between
                    %strong
                      Balance
                      = number_to_currency(@user.balance.to_f / 100)
                    .btn-group
                      = link_to_previous_page(@bank_items, '< Previous', class: 'btn btn-outline-primary')
                      = link_to_next_page(@bank_items, 'Next >', class: 'btn btn-outline-primary')
